.hero-section{
    padding: 50px 80px 70px 50px;
    background-color: rgb(246, 246, 246);

}

.row-container, .column1, .column2{
    height:100%;
    width:100%;

}
.row-container{
    display: grid;
    grid-template-columns: 40% 60%;
}

.home-text-wrapper{
    height: 100%;
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-top:50px;


}
.column1{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}


.heading{
    font-size: 2.3rem;
    font-weight: bold;
    color: #3a3939;
}

.text-descr{
    font-size: 0.75rem;
    margin: 15px 0;
    color: #3a3939;
}

.home-signup{
    width: 80%;
    padding: 10px 50px;
    cursor: pointer;
    outline: none;
    border:none;
    color: #fff;
    background: rgb(95, 117, 196);
    border-radius: 20px;
    margin-top:20px;

}
.nav-signup{
    background: rgb(95, 117, 196);
    width:150px;
    border-radius: 20px;
    padding: 10px 30px;
    cursor: pointer;
    outline: none;
    border:none;
    color: #fff;

}

.home-signup:hover{
    color:#fff;
    background-color: rgb(0, 142, 50);
}

.home-img{
    width:100%;
    margin-left:30px;
}
.column2{
    justify-content: center;
    display: flex;
    align-items: center;
}

.logo{
    font-size: 1.5rem;
}
.logo-icon{
    margin-left: 5px;
    margin-top:10px;
    
}

@media screen and(min-width:1600px){
    
    .row-container{
    
        grid-template-columns: 20% 80%;
    }
    .home-text-wrapper{
        width: 80%;
    }
    .heading{
        margin-top:-100px
    }
}

@media screen and (max-width: 830px){
    .row-container{
        display: flex;
        flex-direction: column;
    }
    .home-text-wrapper{
        align-items: center;
    }
    .text-descr{
        font-size: 0.95em;
    }
    .home-signup{
        width: 200px;

    }


}

@media screen and (max-width: 968px){
    .heading{
        font-size: 2em;
    }
    .home-img{
        margin-top: 50px;
    }
    

}

